 /* The sidebar menu */
.sidebar {

  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #000; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar span{
	padding: 10px 0;
	display: block;
  color:   #c8c8c8;
}
nav div:last-child{
	padding: 10px 32px;
}
.sidebar a{
  text-decoration: none;
  color: #c8c8c8;
  display: inline;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #b51b06;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
	position: absolute;
  top: 50%;
  right: 10px;
}

/* The button used to open the sidebar */
.openbtn {
	background-color: transparent;
	cursor: pointer;
  color: #b51b06;
  padding: 10px;
  border: none;
}

.openbtn:hover {
	color: #c8c8c8;
  background-color: transparent;
}


#main {
  transition: margin-left .5s; /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

