body, html {
	height:100%;
	color:#474747 ;
	font-family:'Raleway', sans-serif;
}
h6 {
	font-family:'Josefin Sans', sans-serif;
	color:green;
}
h5{
	color:red;
}
h3{
	font-family:'Josefin Sans', sans-serif;
	color:blue;
}

small{
	color:#1e4772;

}
img{
		max-width:25%;
    height:auto;
}
.container{
	background-color: gray;
	padding:20px 40px;
}
.container-fluid{
	margin:20px;
	background-color: yellow;
}
#more1{
	display:none;
}
#more2{
	display: none;
}
